<div class="container-fluid mt-3 mb-3">
    <div class="row" *ngIf="transcript">
        <div class="col-md-2 col-sm-2">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <img [src]="transcript.coverUrl" class="img-responsive img-thumbnail" alt="cover">
                </div>
            </div>
            <div class="row margin-top-s">
                <div class="col-md-12 col-sm-12">
                    <ul class="list-group">
                        <li class="list-group-item" routerLinkActive="active">
                            <a [routerLink]="['/insights', transcript.imdbId, 'summary']">Summary</a>
                        </li>
                        <li class="list-group-item" routerLinkActive="active">
                            <a [routerLink]="['/insights', transcript.imdbId, 'frequency', 'nouns']">Nouns</a>
                        </li>
                        <li class="list-group-item" routerLinkActive="active">
                            <a [routerLink]="['/insights', transcript.imdbId, 'frequency', 'verbs']">Verbs</a>
                        </li>
                        <li class="list-group-item" routerLinkActive="active">
                            <a [routerLink]="['/insights', transcript.imdbId, 'frequency', 'adjectives']">Adjectives</a>
                        </li>
                        <li class="list-group-item" routerLinkActive="active">
                            <a [routerLink]="['/insights', transcript.imdbId, 'frequency', 'adverbs']">Adverbs</a>
                        </li>
                        <li class="list-group-item" routerLinkActive="active">
                            <a [routerLink]="['/insights', transcript.imdbId, 'frequency', 'prepositions']">Prepositions</a>
                        </li>
                        <li class="list-group-item" routerLinkActive="active">
                            <a [routerLink]="['/insights', transcript.imdbId, 'frequency', 'modals']">Modals</a>
                        </li>
                        <li class="list-group-item" routerLinkActive="active">
                            <a [routerLink]="['/insights', transcript.imdbId, 'frequency', 'comparatives']">Comparatives</a>
                        </li>
                        <li class="list-group-item" routerLinkActive="active">
                            <a [routerLink]="['/insights', transcript.imdbId, 'frequency', 'superlatives']">Superlatives</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-sm-10">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h2>{{transcript.name}}
                        <small class="text-muted">({{transcript.year}})</small>
                    </h2>
                    <p>
                        <span class="badge badge-primary float-left">{{transcript.type}}</span>
                        <span class="badge badge-primary float-left ml-1">{{transcript.duration}}min</span>
                        <span class="badge badge-success float-left ml-1">{{transcript.genres}}</span>
                        <span class="badge badge-info float-left ml-1">{{transcript.country}}</span>
                        <span class="badge badge-info float-left ml-1">{{transcript.language}}</span>
                    </p>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
