<div class="container-fluid margin-top-l" *ngIf="insight">
    <div class="row">
        <div class="col-md-12">
            <h4>{{title}} <span class="small text-muted">{{words.length}} words</span></h4>
        </div>
    </div>
    <hr>
    <jhi-tv-show-search *ngIf="isTvShow()" [transcript]="transcript" (onSearch)="search($event)"></jhi-tv-show-search>
    <div id="accordion" role="tablist" aria-multiselectable="true" class="margin-top-m">
        <div class="card" *ngFor="let word of words">
            <div class="card-header" role="tab" id="heading">
                <h6 class="mb-0">
                    <span class="badge badge-primary">{{insight[word].length}}</span>
                    &nbsp;
                    <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                       aria-controls="collapse" jhiCollapse>
                        {{word}}
                    </a>
                    <jhi-voice-button [message]="word"></jhi-voice-button>
                </h6>
            </div>
            <div id="collapse" class="collapse" role="tabpanel" aria-labelledby="heading">
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let sentence of insight[word]">
                            {{sentence}}
                            <jhi-voice-button [message]="sentence"></jhi-voice-button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
