<div *ngIf="summary; else loading">
    <div class="row margin-top-l">
        <div class="col-md-12">
            <div class="card jhi-card" style="height: 100%">
                <div class="card-header">
                    Summary
                </div>
                <div class="card-block p-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div style="font-size: 1.5rem;height: 35px;">{{numOfSentences}}</div>
                            <div class="text-muted small">Sentences</div>
                        </div>
                        <div class="col-md-4">
                            <div style="height: 35px;">
                                <span class="badge" [ngClass]="getROSClass()">{{rateOfSpeech}}</span>
                            </div>
                            <div class="text-muted small">Rate of Speech</div>
                        </div>
                        <div class="col-md-4">
                            <div style="height: 35px;">
                                <span class="fa fa-2x" [ngClass]="getSentimentClass()" [title]="getSentimentTitle()"></span>
                            </div>
                            <div class="text-muted small">Sentiment Analysis</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row margin-top-l">
        <div class="col-md-5">
            <div class="card jhi-card" style="height: 100%;">
                <div class="card-header">
                    Frequency Rate
                </div>
                <div class="card-block p-1 overflow">
                    <div class="row margin-top-l">
                        <div class="col-md-12">
                            <ngx-charts-advanced-pie-chart
                                [view]="viewFrequencyRate"
                                [scheme]="'nightLights'"
                                [results]="frequencyRate">
                            </ngx-charts-advanced-pie-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="card jhi-card">
                <div class="card-header">
                    Frequency
                </div>
                <div class="card-block p-1 overflow">
                    <div class="row margin-top-l justify-content-center">
                        <div class="col-12">
                            <ngx-charts-number-card
                                [view]="viewFrequency"
                                scheme="nightLights"
                                cardColor="#232837"
                                [results]="frequency"
                                (select)="onSelectFrequency($event)">
                            </ngx-charts-number-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row margin-top-l">
        <div class="col-md-3">
            <div class="card jhi-card frequency-card" *ngIf="frequentNouns">
                <div class="card-header">
                    Most Frequent - Nouns
                </div>
                <div class="card-block overflow">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let noun of frequentNouns | keys; let i of index">
                            <span class="badge badge-primary">{{noun.value}}</span>
                            {{noun.key}}
                            <jhi-voice-button [message]="noun.key"></jhi-voice-button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card jhi-card frequency-card" *ngIf="leastFrequentNouns">
                <div class="card-header">
                    Least Frequent - Nouns
                </div>
                <div class="card-block overflow">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let noun of leastFrequentNouns | keys">
                            <span class="badge badge-primary">{{noun.value}}</span>
                            {{noun.key}}
                            <jhi-voice-button [message]="noun.key"></jhi-voice-button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card jhi-card frequency-card" *ngIf="frequentVerbs">
                <div class="card-header">
                    Most Frequent - Verbs
                </div>
                <div class="card-block overflow">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let verb of frequentVerbs | keys">
                            <span class="badge badge-primary">{{verb.value}}</span>
                            {{verb.key}}
                            <jhi-voice-button [message]="verb.key"></jhi-voice-button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card jhi-card frequency-card" *ngIf="leastFrequentVerbs">
                <div class="card-header">
                    Least Frequent - Verbs
                </div>
                <div class="card-block overflow">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let verb of leastFrequentVerbs | keys">
                            <span class="badge badge-primary">{{verb.value}}</span>
                            {{verb.key}}
                            <jhi-voice-button [message]="verb.key"></jhi-voice-button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-top-l">
        <div class="col-md-12">
            <div class="card jhi-card overflow">
                <div class="card-header">
                    Verb Tenses
                </div>
                <div class="card-block p-2">
                    <div class="row margin-top-l justify-content-center">
                        <div class="col-10">
                            <ngx-charts-pie-grid
                                [view]="viewTenses"
                                [scheme]="'nightLights'"
                                [results]="tenses"
                                (select)="onSelectTense($event)">
                            </ngx-charts-pie-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="loading margin-top-l" *ngIf="!error"></div>
    <p class="margin-top-l alert alert-warning" *ngIf="error">
        Insights summary is not available at the moment, please try again later.
    </p>
    <p class="margin-top-l">
        <a [routerLink]="['../../']" class="btn btn-info btn-sm">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </a>
    </p>
</ng-template>
