<div class="container-fluid margin-top-l" *ngIf="sentences">
    <div class="row">
        <div class="col-md-12">
            <h4>{{title}} <span class="small text-muted">{{sentences.length}} sentences</span></h4>
        </div>
    </div>
    <hr>
    <jhi-tv-show-search></jhi-tv-show-search>
    <div class="row margin-top-m">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let sentence of sentences">
                    {{sentence}}
                </li>
            </ul>
        </div>
    </div>
</div>
