<div class="py-4 bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p class="lead text-white">Sign up to our newsletter for the latest news</p>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Your e-mail here"> </div>
                    <button type="submit" class="btn ml-3 btn-success">Subscribe</button>
                </form>
            </div>
            <div class="col-4 col-md-1 align-self-center">
                <a href="https://www.facebook.com" target="blank"></a>
            </div>
            <div class="col-4 col-md-1 align-self-center">
                <a href="https://twitter.com" target="blank"><i class="fa fa-fw fa-github fa-3x text-white"></i></a>
            </div>
            <div class="col-4 col-md-1 align-self-center">
                <a href="https://www.instagram.com" target="blank"><i class="fa fa-fw fa-twitter text-white fa-3x"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3 text-center">
                <p class="text-white small">Trivor is an open source project under MIT license.
                    <br>2017 Kalnee Tech Intelligence</p>
            </div>
        </div>
    </div>
</div>
